Repository trezor/trezor-firmware, pull requests merged in 2019-07, with the labels that each got.

#316 common/defs: add Particl & testnet support
  common/defs/bitcoin/particl.json
  common/defs/bitcoin/particl.png
  common/defs/bitcoin/particl_testnet.json
  common/defs/bitcoin/particl_testnet.png
  common/defs/wallets.json
Labels: altcoin, common

#337 Check three words in backup
  core/src/apps/management/common/layout.py
  python/trezorlib/tests/device_tests/test_msg_resetdevice_shamir.py
  python/trezorlib/tests/device_tests/test_msg_resetdevice_t2.py
Labels: core

#339 Add common page for success and warning
  core/src/apps/common/layout.py
Labels: core, ui

#347 Shamir persistance
  common/protob/messages-common.proto
  core/embed/extmod/modtrezorcrypto/modtrezorcrypto-bip39.h
  core/mocks/generated/trezorcrypto/bip39.pyi
  core/mocks/micropython.pyi
  core/src/apps/cardano/seed.py
  core/src/apps/common/layout.py
  core/src/apps/common/mnemonic.py
  core/src/apps/common/mnemonic/bip39.py
  core/src/apps/common/mnemonic/slip39.py
  core/src/apps/common/storage/__init__.py
  core/src/apps/common/storage/common.py
  core/src/apps/common/storage/device.py
  core/src/apps/common/storage/recovery.py
  core/src/apps/common/storage/recovery_shares.py
  core/src/apps/common/storage/slip39.py
  core/src/apps/homescreen/__init__.py
  core/src/apps/homescreen/homescreen.py
  core/src/apps/management/backup_device.py
  core/src/apps/management/load_device.py
  core/src/apps/management/recovery_device.py
  core/src/apps/management/recovery_device/__init__.py
  core/src/apps/management/recovery_device/bip39_keyboard.py
  core/src/apps/management/recovery_device/homescreen.py
  core/src/apps/management/recovery_device/layout.py
  core/src/apps/management/recovery_device/recover.py
  core/src/apps/management/recovery_device/slip39_keyboard.py
  core/src/apps/management/reset_device.py
  core/src/main.py
  core/src/trezor/crypto/slip39.py
  core/src/trezor/errors.py
  core/src/trezor/loop.py
  core/src/trezor/messages/ButtonRequestType.py
  core/src/trezor/ui/__init__.py
  core/src/trezor/wire/__init__.py
  python/trezorlib/messages/ButtonRequestType.py
  python/trezorlib/tests/device_tests/test_msg_recoverydevice_shamir.py
  python/trezorlib/tests/device_tests/test_msg_recoverydevice_t2.py
Labels: Shamir

#358 added device tests for shamir dry run and warnings
  python/trezorlib/tests/device_tests/test_msg_recoverydevice_shamir.py
  python/trezorlib/tests/device_tests/test_msg_recoverydevice_shamir_dryrun.py
Labels: Shamir, tests

#371 tests: added shamir invalid seed dryrun test
  python/trezorlib/tests/device_tests/test_msg_recoverydevice_shamir_dryrun.py
Labels: Shamir, tests
