Repository trezor/trezor-firmware, pull requests merged in 2019-08, with the labels that each got.

#280 Add SLIP-0021 implementation and tests.
  core/embed/extmod/modtrezorcrypto/modtrezorcrypto-sha512.h
  core/mocks/generated/trezorcrypto/__init__.pyi
  core/src/apps/common/seed.py
  core/tests/test_apps.common.seed.py
  core/tests/test_apps.wallet.signtx.fee_threshold.py
Labels: core, firmware

#420 python: add --beta switch to trezorctl firmware_update command
  python/src/trezorlib/cli/trezorctl.py
Labels: P3 Medium, S3 Major, python

#422 core/wallet: fix 'pubkeys' type to be list
  core/src/apps/wallet/sign_tx/addresses.py
Labels: W1/2, core, firmware

#427 core: enable Bitcoin-only build
  ci/build.yml
  ci/test.yml
  core/Makefile
  core/SConscript.firmware
  core/SConscript.unix
  core/embed/extmod/modtrezorcrypto/modtrezorcrypto-bip32.h
  core/embed/extmod/modtrezorcrypto/modtrezorcrypto-ed25519.h
  core/embed/extmod/modtrezorcrypto/modtrezorcrypto.c
  core/embed/extmod/modtrezorutils/modtrezorutils.c
  core/embed/firmware/memory_T_min.ld
  core/site_scons/site_tools/micropython/__init__.py
  core/src/apps/common/coininfo.py
  core/src/apps/common/coininfo.py.mako
  core/src/apps/homescreen/__init__.py
  core/src/main.py
  core/src/trezor/crypto/__init__.py
  core/src/trezor/crypto/curve.py
  core/src/trezor/utils.py
  legacy/firmware/fsm_msg_common.h
  tests/device_tests/conftest.py
Labels: P2 High, S3 Major, core, firmware, legacy

#428 UI for multi level Shamir reset and recovery
  core/src/apps/cardano/seed.py
  core/src/apps/common/mnemonic.py
  core/src/apps/common/storage/recovery.py
  core/src/apps/common/storage/recovery_shares.py
  core/src/apps/management/backup_device.py
  core/src/apps/management/common/layout.py
  core/src/apps/management/recovery_device/homescreen.py
  core/src/apps/management/recovery_device/layout.py
  core/src/apps/management/recovery_device/recover.py
  core/src/apps/management/reset_device.py
  core/src/trezor/errors.py
  tests/device_tests/test_msg_recoverydevice_supershamir.py
  tests/device_tests/test_msg_recoverydevice_supershamir_dryrun.py
  tests/device_tests/test_msg_resetdevice_shamir.py
  tests/device_tests/test_msg_resetdevice_supershamir.py
  tests/device_tests/test_shamir_reset_recovery_groups.py
Labels: Shamir

#446 core: Improve Super Shamir texts.
  core/src/apps/management/common/layout.py
Labels: core, enhancement
