Repository trezor/trezor-firmware, pull requests merged in 2019-06, with the labels that each got.

#216 ci: download monero tests binary in docker
  ci/Dockerfile
  core/tests/run_tests_device_emu_monero.sh
Labels: ci

#234 Added Bitcore insight explorers to crown.json. Changed png.
  common/defs/bitcoin/crown.json
  common/defs/bitcoin/crown.png
Labels: altcoin, common

#220 core: ensure pubkeyhash/scripthash have the correct length
  core/src/apps/wallet/sign_tx/scripts.py
Labels: bitcoin, core, firmware

#238 core: return exception details in debug mode
  core/src/trezor/wire/__init__.py
Labels: architecture, core, firmware

#195 SLIP-39 MVP
  common/protob/messages-management.proto
  core/SConscript.firmware
  core/SConscript.unix
  core/embed/extmod/modtrezorcrypto/modtrezorcrypto-slip39.h
  core/embed/extmod/modtrezorcrypto/modtrezorcrypto.c
  core/mocks/generated/trezorcrypto/slip39.py
  core/src/apps/cardano/seed.py
  core/src/apps/common/confirm.py
  core/src/apps/common/mnemonic.py
  core/src/apps/common/mnemonic/__init__.py
  core/src/apps/common/mnemonic/bip39.py
  core/src/apps/common/mnemonic/slip39.py
  core/src/apps/common/storage.py
  core/src/apps/homescreen/homescreen.py
  core/src/apps/management/backup_device.py
  core/src/apps/management/common/layout.py
  core/src/apps/management/load_device.py
  core/src/apps/management/recovery_device.py
  core/src/apps/management/reset_device.py
  core/src/trezor/crypto/slip39.py
  core/src/trezor/crypto/slip39_wordlist.py
  core/src/trezor/messages/ResetDevice.py
  core/src/trezor/ui/checklist.py
  core/src/trezor/ui/confirm.py
  core/src/trezor/ui/info.py
  core/src/trezor/ui/loader.py
  core/src/trezor/ui/mnemonic_bip39.py
  core/src/trezor/ui/mnemonic_slip39.py
  core/src/trezor/ui/shamir.py
  core/src/trezor/ui/text.py
  core/src/trezor/ui/word_select.py
  core/tests/test_trezor.crypto.slip39.py
  crypto/Makefile
  crypto/slip39.c
  crypto/slip39.h
  crypto/slip39_wordlist.h
  crypto/tests/test_check.c
  python/trezorctl
  python/trezorlib/coins.json
  python/trezorlib/device.py
  python/trezorlib/messages/ResetDevice.py
  python/trezorlib/tests/device_tests/test_msg_recoverydevice_shamir.py
  python/trezorlib/tests/device_tests/test_msg_resetdevice_t2.py
Labels: core, firmware
