Repository trezor/trezor-firmware, pull requests merged in 2019-10, with the labels that each got.

#602 core, legacy: Don't allow change_pin if device is not initialized.
  core/src/apps/cardano/seed.py
  core/src/apps/common/seed.py
  core/src/apps/management/backup_device.py
  core/src/apps/management/change_pin.py
  core/src/apps/management/recovery_device/__init__.py
  core/src/apps/management/reset_device/__init__.py
  core/src/apps/management/sd_protect.py
  legacy/firmware/fsm_msg_common.h
Labels: P4 Low, S4 Low, bug

#601 Add unit test for process_slip39 function
  core/src/apps/management/recovery_device/recover.py
  core/tests/test_apps.management.recovery_device.py
Labels: core, tests

#606 debug: Add left and right swipe direction to DebugLinkDecision messag…
  common/protob/messages-debug.proto
  core/src/apps/debug/__init__.py
  core/src/trezor/messages/DebugLinkDecision.py
  core/src/trezor/messages/DebugSwipeDirection.py
  python/src/trezorlib/debuglink.py
  python/src/trezorlib/messages/DebugLinkDecision.py
  python/src/trezorlib/messages/DebugSwipeDirection.py
  python/src/trezorlib/messages/__init__.py
  tests/common.py
  tests/device_tests/test_msg_cardano_sign_transaction.py
  tests/device_tests/test_msg_cardano_sign_tx_slip39_basic.py
  tests/device_tests/test_msg_eos_signtx.py
  tests/device_tests/test_msg_nem_signtx_mosaics_t2.py
  tests/device_tests/test_msg_tezos_sign_tx.py
Labels: core, firmware

#634 SD protect: Allow user to retry/abort on write failure
  core/src/apps/common/confirm.py
  core/src/apps/common/sd_salt.py
Labels: P4 Low, S4 Low, W1, enhancement, firmware
