Repository trezor/trezor-firmware, pull requests merged in 2019-09, with the labels that each got.

#394 Add FIDO2 support
  core/embed/extmod/modtrezorio/modtrezorio-hid.h
  core/embed/trezorhal/usb_hid-impl.h
  core/embed/unix/usb.c
  core/mocks/generated/trezorio.pyi
  core/src/apps/common/storage/common.py
  core/src/apps/common/storage/webauthn.py
  core/src/apps/webauthn/README.md
  core/src/apps/webauthn/__init__.py
  core/src/apps/webauthn/credential.py
  core/src/trezor/pin.py
  core/src/trezor/res/swipe_left.toif
  core/src/trezor/res/swipe_right.toif
  core/src/trezor/ui/__init__.py
  core/src/trezor/ui/confirm.py
  core/src/trezor/ui/passphrase.py
  core/src/trezor/ui/popup.py
  core/src/trezor/ui/scroll.py
  core/src/trezor/ui/style.py
  core/src/trezor/ui/text.py
  core/tests/test_apps.webauthn.credential.py
Labels: P2 High, S3 Major, core, firmware

#494 Binance UX improvements
  core/src/apps/binance/layout.py
Labels: altcoin, core, firmware

#519 core/webauthn: Process debuglink signals in dialogs.
  core/src/apps/webauthn/__init__.py
  core/src/trezor/ui/confirm.py
Labels: core, enhancement

#523 Refactor errors in advanced slip39
  core/src/apps/common/storage/recovery_shares.py
  core/src/apps/management/recovery_device/homescreen.py
  core/src/apps/management/recovery_device/layout.py
  core/src/apps/management/recovery_device/recover.py
  core/src/trezor/errors.py
  tests/device_tests/test_msg_recoverydevice_slip39_advanced.py
Labels: Shamir

#522 FIDO2 resident credential management
  common/protob/check.py
  common/protob/messages-webauthn.proto
  common/protob/messages.proto
  core/src/apps/common/storage/webauthn.py
  core/src/apps/webauthn/__init__.py
  core/src/apps/webauthn/add_resident_credential.py
  core/src/apps/webauthn/confirm.py
  core/src/apps/webauthn/credential.py
  core/src/apps/webauthn/list_resident_credentials.py
  core/src/apps/webauthn/remove_resident_credential.py
  core/src/trezor/messages/MessageType.py
  core/src/trezor/messages/WebAuthnAddResidentCredential.py
  core/src/trezor/messages/WebAuthnCredential.py
  core/src/trezor/messages/WebAuthnCredentials.py
  core/src/trezor/messages/WebAuthnListResidentCredentials.py
  core/src/trezor/messages/WebAuthnRemoveResidentCredential.py
  legacy/firmware/protob/Makefile
  python/docs/OPTIONS.rst
  python/src/trezorlib/cli/trezorctl.py
  python/src/trezorlib/messages/MessageType.py
  python/src/trezorlib/messages/WebAuthnAddResidentCredential.py
  python/src/trezorlib/messages/WebAuthnCredential.py
  python/src/trezorlib/messages/WebAuthnCredentials.py
  python/src/trezorlib/messages/WebAuthnListResidentCredentials.py
  python/src/trezorlib/messages/WebAuthnRemoveResidentCredential.py
  python/src/trezorlib/messages/__init__.py
  python/src/trezorlib/webauthn.py
  tests/device_tests/test_msg_webauthn.py
  tools/build_protobuf
Labels: core, enhancement, python

#541 core: various fixes to slip39
  core/src/apps/common/storage/recovery.py
  core/src/apps/common/storage/recovery_shares.py
  core/src/apps/management/recovery_device/recover.py
  core/src/apps/management/reset_device/layout.py
Labels: Shamir, core

#548 core: Clarify the messages on the screens and get rid of overflows.
  core/src/apps/common/request_passphrase.py
  core/src/apps/management/apply_settings.py
  core/src/apps/management/change_pin.py
Labels: P4 Low, S4 Low, W1, core, ui

#565 core: fixed success screen during advanced slip39 reset flow
  core/src/apps/management/reset_device/layout.py
Labels: Shamir

#576 FIDO2 fixes for device tests and knownapps improvements
  common/defs/webauthn/apps/binance.json
  common/defs/webauthn/apps/bitbucket.json
  common/defs/webauthn/apps/bitfinex.json
  common/defs/webauthn/apps/bitwarden.json
  common/defs/webauthn/apps/dashlane.json
  common/defs/webauthn/apps/dropbox.json
  common/defs/webauthn/apps/duo.json
  common/defs/webauthn/apps/fastmail.json
  common/defs/webauthn/apps/fedora.json
  common/defs/webauthn/apps/gandi.json
  common/defs/webauthn/apps/github.json
  common/defs/webauthn/apps/gitlab.json
  common/defs/webauthn/apps/google.json
  common/defs/webauthn/apps/keeper.json
  common/defs/webauthn/apps/lastpass.json
  common/defs/webauthn/apps/login.gov.json
  common/defs/webauthn/apps/microsoft.json
  common/defs/webauthn/apps/slushpool.json
  common/defs/webauthn/apps/stripe.json
  common/defs/webauthn/apps/u2f.bin.coffee.json
  common/defs/webauthn/apps/webauthn.bin.coffee.json
  common/defs/webauthn/apps/webauthn.io.json
  common/defs/webauthn/apps/webauthn.me.json
  common/defs/webauthn/apps/yubico-demo.json
  common/defs/webauthn/gen.py
  core/src/apps/webauthn/__init__.py
  core/src/apps/webauthn/knownapps.py
  legacy/firmware/u2f_knownapps.h
Labels: core
