Repository trezor/trezor-firmware, pull requests merged in 2019-04, with the labels that each got.

#95 xmr.ui: improves UX of the monero app
  core/embed/bootloader/bootui.c
  core/embed/extmod/modtrezorui/display.c
  core/embed/extmod/modtrezorui/display.h
  core/embed/extmod/modtrezorui/modtrezorui-display.h
  core/mocks/generated/trezorui.py
  core/src/apps/monero/layout/confirms.py
  core/src/apps/monero/signing/state.py
  core/src/apps/monero/signing/step_01_init_transaction.py
  core/src/apps/monero/signing/step_02_set_input.py
  core/src/apps/monero/signing/step_03_inputs_permutation.py
  core/src/apps/monero/signing/step_04_input_vini.py
  core/src/apps/monero/signing/step_05_all_inputs_set.py
  core/src/apps/monero/signing/step_06_set_output.py
  core/src/apps/monero/signing/step_07_all_outputs_set.py
  core/src/apps/monero/signing/step_09_sign_input.py
Labels: core, enhancement, firmware, ui

#41 Tezos: Add voting support
  common/protob/messages-tezos.proto
  core/src/apps/common/writers.py
  core/src/apps/tezos/helpers.py
  core/src/apps/tezos/layout.py
  core/src/apps/tezos/sign_tx.py
  core/src/trezor/messages/TezosBallotOp.py
  core/src/trezor/messages/TezosBallotType.py
  core/src/trezor/messages/TezosProposalOp.py
  core/src/trezor/messages/TezosSignTx.py
  core/src/trezor/ui/scroll.py
  core/tests/test_apps.tezos.address.py
  core/tests/test_apps.tezos.encode.py
  python/trezorlib/tests/device_tests/test_msg_tezos_sign_tx.py
Labels: altcoin, core, feature, firmware

#84 core+legacy: make path checks more benevolent
  core/src/apps/wallet/sign_tx/addresses.py
  legacy/firmware/fsm_msg_coin.h
Labels: bitcoin, core, enhancement, firmware
