Repository trezor/trezor-firmware, pull requests merged in 2019-05, with the labels that each got.

#85 SLIP-0039
  core/SConscript.firmware
  core/SConscript.unix
  core/embed/extmod/modtrezorcrypto/modtrezorcrypto-shamir.h
  core/embed/extmod/modtrezorcrypto/modtrezorcrypto.c
  core/src/trezor/crypto/slip39.py
  core/src/trezor/crypto/slip39_wordlist.py
  core/tests/slip39_vectors.py
  core/tests/test_trezor.crypto.slip39.py
  crypto/Makefile
  crypto/shamir.c
  crypto/shamir.h
  crypto/tests/test_check.c
Labels: bitcoin, core, feature, firmware

#129 xmr: authorize live refresh per passphrase
  core/src/apps/common/cache.py
  core/src/apps/monero/__init__.py
  core/src/apps/monero/live_refresh.py
Labels: altcoin, core, firmware

#147 Update zencash.json
  common/defs/bitcoin/horizen.json
  common/defs/bitcoin/horizen.png
  common/defs/bitcoin/zencash.png
Labels: altcoin, core, firmware

#141 Do not display token values in Wei for low-decimal value tokens
  core/src/apps/ethereum/layout.py
  core/tests/test_apps.ethereum.layout.py
Labels: P3 Medium, altcoin, core, enhancement, firmware

#153 Fix message composing in ethereum signature
  legacy/firmware/ethereum.c
Labels: P2 High, S2 Critical, altcoin, bug, firmware, legacy

#201 xmr: get_address - pagination, integrated address
  common/protob/messages-monero.proto
  core/src/apps/monero/get_address.py
  core/src/apps/monero/layout/common.py
  core/src/apps/monero/layout/confirms.py
  core/src/trezor/messages/MoneroGetAddress.py
  python/trezorlib/messages/MoneroGetAddress.py
Labels: altcoin, core, firmware
