Repository trezor/trezor-firmware, pull requests merged in 2020-02, with the labels that each got.

#830 FW Update: Request a small chunk first to make the UI smoother
  core/embed/bootloader/messages.c
  core/embed/trezorhal/image.h
Labels: bootloader, core

#847 legacy/bootloader: soft reset after firmware upload
  legacy/bootloader/usb.c
  legacy/firmware/usb.c
Labels: bootloader, enhancement, legacy

#860 core: show yours/others in get_address for multisig
  core/src/apps/wallet/get_address.py
  tests/device_tests/test_msg_getaddress_show.py
  tests/ui_tests/fixtures.json
Labels: core
