Repository trezor/trezor-firmware, pull requests merged in 2022-01, with the labels that each got.

#2050 Treat point at infinity as an invalid public key
  crypto/ecdsa.c
  crypto/tests/test_check.c
Labels: crypto, LOW

#2058 Fix out of bounds read in ecdsa_sig_to_der()
  crypto/ecdsa.c
  crypto/tests/test_check.c
Labels: crypto, bug

#2090 Remove bitcoin cash Schnorr signatures
  crypto/Makefile
  crypto/README.md
  crypto/schnorr.c
  crypto/schnorr.h
  crypto/tests/test_check.c
Labels: crypto
