Repository trezor/trezor-firmware, pull requests merged in 2024-04, with the labels that each got.

#3660 fix(core/translations): correctly rename previous symbol
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/translations/generated/translated_string.rs
  core/mocks/trezortranslate_keys.pyi
  core/translations/cs.json
  core/translations/de.json
  core/translations/en.json
  core/translations/es.json
  core/translations/fr.json
  core/translations/order.json
  core/translations/signatures.json
  tests/ui_tests/fixtures.json
Labels: translations

#3674 refactor(core): add ufmt, bump heapless from 0.7.6 - 0.8.0
  core/embed/rust/Cargo.lock
  core/embed/rust/Cargo.toml
  core/embed/rust/src/ui/macros.rs
  core/embed/rust/src/ui/model_tr/component/input_methods/choice_item.rs
  core/embed/rust/src/ui/model_tr/component/input_methods/number_input.rs
  core/embed/rust/src/ui/model_tr/component/input_methods/passphrase.rs
  core/embed/rust/src/ui/model_tr/component/input_methods/pin.rs
  core/embed/rust/src/ui/model_tr/component/input_methods/wordlist.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/bip39.rs
  core/embed/rust/src/ui/util.rs
Labels: core

#3656 T3T1 ShareWords component
  core/embed/rust/src/ui/model_mercury/component/frame.rs
  core/embed/rust/src/ui/model_mercury/component/instructions.rs
  core/embed/rust/src/ui/model_mercury/component/mod.rs
  core/embed/rust/src/ui/model_mercury/component/share_words.rs
  core/embed/rust/src/ui/model_mercury/constant.rs
  core/embed/rust/src/ui/model_mercury/layout.rs
  core/embed/rust/src/ui/shape/corner_highlight.rs
  core/mocks/generated/trezorui2.pyi
  core/src/trezor/ui/layouts/mercury/reset.py
  tests/common.py
Labels: T3T1

#3684 set stack protector to strong
  core/SConscript.boardloader
  core/SConscript.bootloader
  core/SConscript.bootloader_ci
Labels: hardware only

#3673 feat(core): use HSI as PLL source on T3T1
  core/embed/trezorhal/boards/Clocks_T3T1_revE.md
  core/embed/trezorhal/boards/trezor_t3t1_revE.h
  core/embed/trezorhal/stm32f4/usbd_conf.c
  core/embed/trezorhal/stm32u5/platform.c
Labels: hardware only

#3617 Cepetr/ts3 font fix
  core/embed/lib/fonts/font_pixeloperatormono_regular_8.c
  core/embed/lib/fonts/font_unifont_bold_16.h
  core/embed/lib/fonts/font_unifont_regular_16.h
  core/embed/rust/src/ui/component/label.rs
  core/embed/rust/src/ui/display/font.rs
  core/embed/rust/src/ui/model_tr/component/homescreen.rs
  core/embed/rust/src/ui/model_tr/component/input_methods/choice.rs
  core/embed/rust/src/ui/model_tr/component/input_methods/choice_item.rs
  core/embed/rust/src/ui/model_tr/component/share_words.rs
  tests/ui_tests/fixtures.json
Labels: core, T2B1, translations

#3705 slow down SDIO communication in T3T1 prodtest
  core/embed/prodtest/main.c
  core/embed/trezorhal/sdcard.h
  core/embed/trezorhal/stm32f4/sdcard.c
  core/embed/trezorhal/stm32u5/sdcard.c
  core/embed/trezorhal/unix/sdcard.c
Labels: hardware only

#3701 feat(core/prodtest): add commands TOUCH VERSION and VARIANT READ
  core/embed/prodtest/README.md
  core/embed/prodtest/main.c
  core/embed/trezorhal/stm32f4/touch/ft6x36.c
  core/embed/trezorhal/stm32f4/touch/stmpe811.c
  core/embed/trezorhal/stm32u5/touch/sitronix.c
  core/embed/trezorhal/touch.h
  core/embed/trezorhal/unix/touch/touch.c
Labels: hardware only

#3719 docs: minor fix of build emu
  docs/core/build/embedded.md
  docs/core/build/emulator.md
Labels: docs

#3711 Add unit packaging variant field to Features
  common/protob/messages-management.proto
  core/embed/bootloader/messages.c
  core/embed/bootloader/protob/messages.pb.h
  core/embed/bootloader/protob/messages.proto
  core/embed/extmod/modtrezorutils/modtrezorutils.c
  core/embed/lib/unit_variant.c
  core/embed/lib/unit_variant.h
  core/mocks/generated/trezorutils.pyi
  core/src/apps/base.py
  core/src/trezor/messages.py
  core/src/trezor/utils.py
  python/src/trezorlib/messages.py
  rust/trezor-client/src/protos/generated/messages_management.rs
Labels: core, protobuf

#3750 Add FIRMWARE VERSION command to prodtest
  core/embed/prodtest/.changelog.d/+version.added
  core/embed/prodtest/README.md
  core/embed/prodtest/main.c
Labels: core
