Repository trezor/trezor-firmware, pull requests merged in 2024-11, with the labels that each got.

#4289 chore(python): add shortcut in trezorlib for academic seed
  python/.changelog.d/4282.added
  python/src/trezorlib/cli/device.py
Labels: trezorlib, low hanging fruit, python

#4312 fix(core/prodtest): fix CPUID READ command
  core/embed/prodtest/.changelog.d/4310.fixed
  core/embed/prodtest/main.c
Labels: T3T1

#4317 fix(core): fix haptic custom effect in loaders
  core/embed/trezorhal/stm32f4/syscall_dispatch.c
Labels: ci, T3T1

#4128 Translate hard-coded 'Enable labeling' string
  core/.changelog.d/3813.fixed
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/translations/generated/translated_string.rs
  core/mocks/trezortranslate_keys.pyi
  core/src/apps/misc/cipher_key_value.py
  core/translations/cs.json
  core/translations/de.json
  core/translations/en.json
  core/translations/es.json
  core/translations/fr.json
  core/translations/it.json
  core/translations/order.json
  core/translations/pt.json
  core/translations/signatures.json
  core/translations/tr.json
  tests/device_tests/misc/test_msg_enablelabeling.py
  tests/ui_tests/fixtures.json
Labels: translations

#4334 fix(core): Fix success color and icon in set_brightness flow
  core/.changelog.d/4295.fixed
  core/embed/rust/src/ui/model_mercury/flow/set_brightness.rs
Labels: low hanging fruit, T3T1

#4333 chore(core): Fix swipe-back action in tutorial flow menu
  core/.changelog.d/4294.fixed
  core/embed/rust/src/ui/model_mercury/flow/show_tutorial.rs
Labels: low hanging fruit, T3T1

#4328 chore(core): show the last pin digit for a while
  core/.changelog.d/3863.added
  core/embed/rust/src/ui/model_mercury/component/keyboard/pin.rs
  core/embed/rust/src/ui/model_tr/component/input_methods/pin.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/pin.rs
  tests/click_tests/test_pin.py
  tests/ui_tests/fixtures.json
Labels: core, translations

#4373 shell.nix: embedded devtools fixes
  shell.nix
Labels: ci

#4384 fix(core/mercury): tap to cancel UX
  core/embed/rust/src/ui/model_mercury/flow/confirm_output.rs
Labels: T3T1

#4132 fix(core) Fix auto-mover hitting wall scenario
  core/.changelog.d/3692.fixed
  core/embed/rust/src/ui/model_tr/component/input_methods/choice.rs
Labels: T2B1, T3B1
