Repository trezor/trezor-firmware, pull requests merged in 2024-05, with the labels that each got.

#3790 fix(tests): regenerate fixtures.json
  tests/ui_tests/fixtures.json
Labels: tests, code, translations

#3812 chore(core): update cs.json
  core/translations/cs.json
  core/translations/signatures.json
  tests/ui_tests/fixtures.json
Labels: translations

#3803 chore(core) rename Shamir to Multi-share
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/translations/generated/translated_string.rs
  core/mocks/trezortranslate_keys.pyi
  core/src/apps/management/recovery_device/layout.py
  core/src/apps/management/reset_device/__init__.py
  core/tools/translations/rules.json
  core/translations/cs.json
  core/translations/de.json
  core/translations/en.json
  core/translations/es.json
  core/translations/fr.json
  core/translations/order.json
  core/translations/signatures.json
  tests/click_tests/reset.py
  tests/input_flows_helpers.py
  tests/ui_tests/fixtures.json
Labels: low hanging fruit, translations

#3714 Sending ButtonRequests from rust
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/ui/button_request.rs
  core/embed/rust/src/ui/component/base.rs
  core/embed/rust/src/ui/component/button_request.rs
  core/embed/rust/src/ui/component/mod.rs
  core/embed/rust/src/ui/layout/obj.rs
  core/embed/rust/src/ui/mod.rs
  core/embed/rust/src/ui/model_tt/layout.rs
  core/mocks/generated/trezorui2.pyi
  core/src/trezor/ui/layouts/common.py
  core/src/trezor/ui/layouts/tr/__init__.py
  core/src/trezor/ui/layouts/tt/__init__.py
  core/src/trezor/ui/layouts/tt/recovery.py
  core/src/trezor/ui/layouts/tt/reset.py
  core/src/trezor/wire/context.py
  core/tests/test_apps.ethereum.sign_typed_data.py
  tests/ui_tests/fixtures.json
Labels: T3T1, translations

#3875 Change build_mocks to include empty lines
  core/embed/extmod/modtrezorcrypto/modtrezorcrypto-monero.h
  core/embed/extmod/modtrezorio/modtrezorio-poll.h
  core/embed/extmod/modtrezorui/modtrezorui-display.h
  core/embed/extmod/modtrezorutils/modtrezorutils.c
  core/mocks/generated/trezorcrypto/crc.pyi
  core/mocks/generated/trezorio/__init__.pyi
  core/tools/build_mocks
Labels: core
