Repository trezor/trezor-firmware, pull requests merged in 2024-08, with the labels that each got.

#4116 chore(core): remove unused mercury ButtonContent
  core/embed/rust/src/ui/model_mercury/component/button.rs
  core/embed/rust/src/ui/model_mercury/component/keyboard/passphrase.rs
Labels: code, T3T1

#4119 Remove display_random feature
  common/protob/messages-management.proto
  core/.changelog.d/4119.removed
  core/embed/rust/src/translations/generated/translated_string.rs
  core/mocks/trezortranslate_keys.pyi
  core/src/apps/management/reset_device/__init__.py
  core/src/apps/management/reset_device/layout.py
  core/src/trezor/messages.py
  core/tools/translations/rules.json
  core/translations/cs.json
  core/translations/de.json
  core/translations/en.json
  core/translations/es.json
  core/translations/fr.json
  core/translations/signatures.json
  legacy/firmware/.changelog.d/4119.removed
  legacy/firmware/fsm_msg_common.h
  legacy/firmware/reset.c
  legacy/firmware/reset.h
  python/.changelog.d/4119.removed
  python/src/trezorlib/cli/device.py
  python/src/trezorlib/device.py
  python/src/trezorlib/messages.py
  python/tools/mnemonic_check.py
  rust/trezor-client/src/client/mod.rs
  rust/trezor-client/src/protos/generated/messages_management.rs
  tests/device_tests/reset_recovery/test_reset_bip39_skipbackup.py
  tests/device_tests/reset_recovery/test_reset_bip39_t1.py
  tests/device_tests/reset_recovery/test_reset_bip39_t2.py
  tests/device_tests/reset_recovery/test_reset_recovery_bip39.py
  tests/device_tests/reset_recovery/test_reset_recovery_slip39_advanced.py
  tests/device_tests/reset_recovery/test_reset_recovery_slip39_basic.py
  tests/device_tests/reset_recovery/test_reset_slip39_advanced.py
  tests/device_tests/reset_recovery/test_reset_slip39_basic.py
  tests/device_tests/test_msg_backup_device.py
  tests/device_tests/test_protection_levels.py
  tests/input_flows.py
  tests/ui_tests/fixtures.json
  tests/upgrade_tests/test_firmware_upgrades.py
Labels: core, T1B1 legacy, protobuf, python, translations

#4127 feat(core/mercury): use less severe icon color
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/ui/model_mercury/component/frame.rs
  core/embed/rust/src/ui/model_mercury/layout.rs
  core/embed/rust/src/ui/model_tt/layout.rs
  core/mocks/generated/trezorui2.pyi
  core/src/trezor/ui/layouts/mercury/__init__.py
  core/src/trezor/ui/layouts/mercury/recovery.py
  core/src/trezor/ui/layouts/mercury/reset.py
  tests/ui_tests/fixtures.json
Labels: T3T1, translations

#4099 feat(core): ask for 20/33 words to unlock backup
  core/.changelog.d/4099.added
  core/embed/rust/src/ui/layout/util.rs
  core/embed/rust/src/ui/model_mercury/component/binary_selection.rs
  core/embed/rust/src/ui/model_mercury/component/keyboard/word_count.rs
  core/embed/rust/src/ui/model_mercury/flow/continue_recovery.rs
  core/embed/rust/src/ui/model_mercury/layout.rs
  core/embed/rust/src/ui/model_tr/layout.rs
  core/embed/rust/src/ui/model_tt/component/keyboard/word_count.rs
  core/embed/rust/src/ui/model_tt/layout.rs
  core/mocks/generated/trezorui2.pyi
  tests/click_tests/recovery.py
  tests/ui_tests/fixtures.json
Labels: core, translations
