Repository trezor/trezor-firmware, pull requests merged in 2025-04, with the labels that each got.

#4858 Fix behavior of set brightness screen
  core/embed/rust/src/ui/layout_eckhart/component_msg_obj.rs
  core/embed/rust/src/ui/layout_eckhart/firmware/brightness_screen.rs
  core/embed/rust/src/ui/layout_eckhart/firmware/mod.rs
Labels: low hanging fruit, T3W1

#4886 test(core): automatically skip altcoin tests
  .github/workflows/core-hw.yml
  .github/workflows/core.yml
  .github/workflows/legacy.yml
  ci/test.yml
  docs/ci/jobs.md
  tests/conftest.py
Labels: altcoin, tests

#4879 Remove redundant Error messages from FirmwareUI
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_caesar/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  core/embed/rust/src/ui/ui_firmware.rs
Labels: core, code

#4737 Use "..." ellipsis on "show_more"
  core/.changelog.d/4623.fixed
  core/embed/rust/src/ui/layout_bolt/theme/mod.rs
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_caesar/theme/mod.rs
  core/embed/rust/src/ui/layout_caesar/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/flow/util.rs
  core/embed/rust/src/ui/layout_delizia/theme/mod.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  tests/ui_tests/fixtures.json
Labels: translations

#4900 Fix failing gen_check
  core/embed/upymod/qstrdefsport.h
Labels: T3W1

#4898 perf(core): remove imports from hot path
  core/src/apps/bitcoin/addresses.py
  core/src/apps/bitcoin/authorization.py
  core/src/apps/bitcoin/sign_tx/approvers.py
  core/src/apps/bitcoin/sign_tx/matchcheck.py
  core/src/apps/bitcoin/sign_tx/sig_hasher.py
  core/src/apps/bitcoin/writers.py
  core/src/trezor/crypto/bech32.py
  core/src/trezor/wire/codec/codec_context.py
Labels: core

#4922 fix(core): check QSTR run-time allocations only for frozen debug builds
  .github/workflows/core.yml
  core/embed/upymod/modtrezorutils/modtrezorutils.c
  core/mocks/generated/trezorutils.pyi
Labels: core, emulator only

#4923 Eckhart: fix T3W1 rust tests
  core/embed/rust/build.rs
Labels: tests, rust, T3W1

#4920 ci: drop GitLab config and mentions
  .gitlab-ci.yml
  Makefile
  README.md
  ci/README.md
  ci/build.yml
  ci/check_changelog.sh
  ci/deploy.yml
  ci/environment.yml
  ci/make_nonenglish_tests.py
  ci/posttest.yml
  ci/prebuild.yml
  ci/test-nonenglish.yml
  ci/test.yml
  docs/SUMMARY.md
  docs/ci/index.md
  docs/ci/jobs.md
  docs/index.md
  docs/tests/ui-tests.md
  pyproject.toml
  tests/gitlab.py
  tests/update_fixtures.py
  tools/generate_ci_docs.py
Labels: ci

#4911 feat(tests): add missing delizia tests
  tests/device_tests/bitcoin/test_signtx.py
  tests/device_tests/ethereum/test_sign_typed_data.py
  tests/device_tests/ethereum/test_signtx.py
  tests/device_tests/reset_recovery/test_reset_recovery_slip39_advanced.py
  tests/input_flows.py
  tests/input_flows_helpers.py
  tests/ui_tests/fixtures.json
Labels: T3T1, translations

#4927 fix(core): fix USB VCP freeze on T3W1 in prodtest
  core/embed/io/usb/inc/io/usb_vcp.h
  core/embed/io/usb/stm32/usb_class_vcp.c
  core/embed/projects/prodtest/main.c
Labels: T3W1

#4929 fix(core): dump allocated QSTRs also in debug firmware
  core/embed/upymod/modtrezorutils/modtrezorutils.c
Labels: core

#4928 fix(core): update EIP-1559 fee-related labels
  core/.changelog.d/4819.fixed
  core/embed/rust/src/translations/generated/translated_string.rs
  core/mocks/trezortranslate_keys.pyi
  core/translations/en.json
  tests/ui_tests/fixtures.json
Labels: core, altcoin, translations

#4947 perf(core): encode `Timer` using a single `u32`
  core/embed/rust/src/ui/component/base.rs
  core/embed/rust/src/ui/layout/obj.rs
Labels: core

#4942 fix(prodtest): increase vcp ring buffer size
  core/embed/projects/prodtest/main.c
Labels: T3W1

#4953 test(core): reduce pytest timeout for upgrade tests
  .github/workflows/core.yml
Labels: core, tests

#4946 perf(core): optimize `AddressDetails::xpubs` layout
  core/embed/rust/src/ui/layout_bolt/component/address_details.rs
  core/embed/rust/src/ui/layout_bolt/component/mod.rs
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_caesar/component/address_details.rs
  core/embed/rust/src/ui/layout_caesar/component/mod.rs
  core/embed/rust/src/ui/layout_caesar/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/component/address_details.rs
  core/embed/rust/src/ui/layout_delizia/component/mod.rs
  core/embed/rust/src/ui/layout_delizia/flow/get_address.rs
Labels: core, T3T1

#4949 fix(core): remove debug-related data from `PYOPT=1` builds
  .github/workflows/core.yml
  common/tools/cointool.py
  core/SConscript.firmware
  core/SConscript.unix
  core/embed/rust/librust_qstr.h
  core/embed/rust/librust_qstr.h.mako
  core/embed/rust/src/translations/generated/translated_string.rs
  core/embed/rust/src/translations/generated/translated_string.rs.mako
  core/src/trezor/enums/MessageType.py
  core/src/trezor/enums/_proto_enum_class.mako
Labels: core

#4956 test(core): don't force changing language if not needed
  tests/translations.py
Labels: tests, translations

#4957 chore(core): shorten some foreign copy
  core/translations/de.json
  core/translations/es.json
  core/translations/fr.json
  core/translations/pt.json
  core/translations/signatures.json
  tests/ui_tests/fixtures.json
Labels: core, T3T1, translations

#4930 feat(legacy): confirm ETH stake, unstake, claim
  legacy/firmware/.changelog.d/4851.added
  legacy/firmware/ethereum.c
  tests/device_tests/ethereum/test_signtx.py
  tests/ui_tests/fixtures.json
Labels: T1B1 legacy, altcoin, feature

#4970 ci(nix): bump ffmpeg
  shell.nix
Labels: ci, tests

#4971 Use better font on Delizia properties
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  tests/ui_tests/fixtures.json
Labels: translations

#4936 fix(legacy): use `Gwei` when ETH fee amount is between 1e3 and 1e9
  legacy/firmware/.changelog.d/4932.fixed
  legacy/firmware/ethereum.c
  tests/ui_tests/fixtures.json
Labels: T1B1 legacy, altcoin
