Repository trezor/trezor-firmware, pull requests merged in 2025-03, with the labels that each got.

#4715 feat(core): use `SwipeFlow::add_page` to reduce stack usage
  core/embed/rust/src/ui/flow/swipe.rs
  core/embed/rust/src/ui/layout_delizia/flow/confirm_action.rs
  core/embed/rust/src/ui/layout_delizia/flow/confirm_fido.rs
  core/embed/rust/src/ui/layout_delizia/flow/confirm_firmware_update.rs
  core/embed/rust/src/ui/layout_delizia/flow/confirm_homescreen.rs
  core/embed/rust/src/ui/layout_delizia/flow/confirm_reset.rs
  core/embed/rust/src/ui/layout_delizia/flow/confirm_set_new_pin.rs
  core/embed/rust/src/ui/layout_delizia/flow/confirm_summary.rs
  core/embed/rust/src/ui/layout_delizia/flow/continue_recovery_homepage.rs
  core/embed/rust/src/ui/layout_delizia/flow/get_address.rs
  core/embed/rust/src/ui/layout_delizia/flow/prompt_backup.rs
  core/embed/rust/src/ui/layout_delizia/flow/request_number.rs
  core/embed/rust/src/ui/layout_delizia/flow/request_passphrase.rs
  core/embed/rust/src/ui/layout_delizia/flow/set_brightness.rs
  core/embed/rust/src/ui/layout_delizia/flow/show_danger.rs
  core/embed/rust/src/ui/layout_delizia/flow/show_share_words.rs
  core/embed/rust/src/ui/layout_delizia/flow/show_tutorial.rs
Labels: core

#4721 Fix delizia set brightness setting
  core/embed/rust/src/ui/layout_delizia/component/frame.rs
  core/embed/rust/src/ui/layout_delizia/component/number_input_slider.rs
  core/embed/rust/src/ui/layout_delizia/flow/set_brightness.rs
Labels: T3T1

#4723 ci(core): enable STORAGE_INSECURE_TESTING_MODE for HW device tests
  .github/workflows/core-hw.yml
Labels: core, ci, tests

#4671 feat(core): use `Account info` instead of `Send from` in Delizia staking UI
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/ui/api/firmware_micropython.rs
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_caesar/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/flow/confirm_output.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  core/embed/rust/src/ui/ui_firmware.rs
  core/mocks/generated/trezorui_api.pyi
  core/src/trezor/ui/layouts/delizia/__init__.py
Labels: core, altcoin, translations

#4722 Add emulator warnings
  core/emu.py
  core/src/boot.py
  docs/legacy/index.md
  legacy/firmware/trezor.c
Labels: emulator only, docs

#4595 feat(core): estimate workflow stack usage
  core/Makefile
  core/SConscript.firmware
  core/embed/upymod/modtrezorutils/modtrezorutils.c
  core/mocks/generated/trezorutils.pyi
  core/src/trezor/utils.py
  core/src/trezor/wire/message_handler.py
Labels: core

#4707 chore: gitignore Cursor config
  .gitignore
Labels: code

#4716 feat(tools): add a script for printing Rust stacks' sizes
  .github/workflows/core.yml
  poetry.lock
  pyproject.toml
  tools/print-rust-stack-sizes.py
Labels: core, dependencies, rust

#4727 feat(core): double glyphs on t3w1 terminal
  core/embed/gfx/terminal.c
  core/site_scons/models/T3W1/trezor_t3w1_revA.py
  core/site_scons/models/T3W1/trezor_t3w1_revB.py
Labels: T3W1

#4677 fix(core): use correct fonts for staking confirmation on Delizia
  core/embed/rust/src/ui/api/firmware_micropython.rs
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_caesar/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/flow/util.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  core/embed/rust/src/ui/ui_firmware.rs
  core/mocks/generated/trezorui_api.pyi
  core/src/trezor/ui/layouts/delizia/__init__.py
  tests/ui_tests/fixtures.json
Labels: core, altcoin, translations

#4746 test(core): decrease single test timeout for HW devices to 10 minutes
  .github/workflows/core-hw.yml
Labels: ci

#4753 fix(core): scope Cardano confirmation to allow GC
  core/src/apps/cardano/layout.py
Labels: core, altcoin, python

#4758 Merge release 25.03
  common/defs/ethereum/released-definitions-timestamp.txt
  common/releases.json
  core/.changelog.d/+01658739.added
  core/.changelog.d/3503.added
  core/.changelog.d/3503.fixed
  core/.changelog.d/3536.added
  core/.changelog.d/4541.added
  core/.changelog.d/4560.added
  core/.changelog.d/4571.changed
  core/CHANGELOG.T2B1.md
  core/CHANGELOG.T2T1.md
  core/CHANGELOG.T3B1.md
  core/CHANGELOG.T3T1.md
  core/CHANGELOG.md
  core/src/apps/ethereum/definitions_constants.py
  core/translations/signatures.json
Labels: translations

#4766 chore(core): use smaller vectors for `ShowInfoParams`
  core/embed/rust/src/ui/layout_delizia/flow/util.rs
Labels: core, T3T1

#4756 build(core): allow increasing VCP write timeout
  core/Makefile
  core/SConscript.firmware
  core/embed/projects/firmware/mphalport.c
Labels: core, hardware only, micropython

#4787 fix(core): correct confirmation title on Caesar
  core/.changelog.d/4787.fixed
  core/embed/rust/src/ui/layout_caesar/ui_firmware.rs
  core/src/trezor/ui/layouts/caesar/__init__.py
  tests/ui_tests/fixtures.json
Labels: core, altcoin, T2B1, translations, T3B1

#4795 test(core): allow saving verbose log into a file
  .github/workflows/core-hw.yml
  tests/conftest.py
Labels: ci, tests, python

#4802 fix(core): don't invoke `dump_meminfo_json` on emulator
  core/embed/upymod/modtrezorutils/modtrezorutils.c
Labels: tests, python

#4793 fix(core): enable shsi clock after resuming from suspend mode
  core/embed/sec/secure_aes/inc/sec/secure_aes.h
  core/embed/sec/secure_aes/stm32u5/secure_aes.c
  core/embed/sys/powerctl/stm32u5/powerctl_suspend.c
Labels: T3W1

#4812 Remove obsolete font names from lang JSONs
  core/tools/codegen/gen_font.py
  core/translations/cs.json
  core/translations/de.json
  core/translations/es.json
  core/translations/fr.json
  core/translations/it.json
  core/translations/pt.json
  core/translations/tr.json
  python/src/trezorlib/_internal/translations.py
Labels: core, translations

#4827 fix(core): allow firmware upgrade even if language change failed
  core/.changelog.d/4827.fixed
  core/src/apps/management/change_language.py
  core/src/apps/management/reboot_to_bootloader.py
Labels: core

#4830 chore(python): replace `pytest-rerunfailures` with `pytest-retry`
  poetry.lock
  pyproject.toml
  python/src/trezorlib/transport/protocol.py
  setup.cfg
  tests/conftest.py
  tests/device_tests/test_bip32_speed.py
  tests/device_tests/test_busy_state.py
Labels: tests

#4837 fix(core): don't handle nostr-related messages in BTC-only firmware
  core/src/apps/workflow_handlers.py
Labels: core

#4841 feat(core): increase MicroPython bytecode optimizations
  core/SConscript.firmware
  core/SConscript.unix
Labels: core, micropython, flash reduction

#4847 Eckhart brightness screen
  core/embed/rust/src/ui/layout_eckhart/component_msg_obj.rs
  core/embed/rust/src/ui/layout_eckhart/firmware/brightness_screen.rs
  core/embed/rust/src/ui/layout_eckhart/firmware/mod.rs
  core/embed/rust/src/ui/layout_eckhart/ui_firmware.rs
Labels: T3W1
