Repository trezor/trezor-firmware, pull requests merged in 2025-06, with the labels that each got.

#5124 ci(core): disable authenticity tests on HW CI
  .github/workflows/core-hw.yml
Labels: hardware only, ci

#5137 fix(core/prodtest): fix vcp jamming when USB unplugged.
  core/embed/projects/prodtest/main.c
Labels: T3W1

#5076 Firmware update for Eckhart UI
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/translations/generated/translated_string.rs
  core/embed/rust/src/ui/layout_eckhart/flow/confirm_firmware_update.rs
  core/embed/rust/src/ui/layout_eckhart/flow/mod.rs
  core/embed/rust/src/ui/layout_eckhart/ui_firmware.rs
  core/mocks/trezortranslate_keys.pyi
  core/translations/en.json
  core/translations/order.json
  core/translations/signatures.json
Labels: T3W1

#5158 style(core): prefix unused parameters with `_`
  core/embed/rust/src/ui/layout_caesar/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
Labels: core, code, rust

#5154 Eckhart UI: remove hold to lock
  core/embed/rust/src/ui/layout_eckhart/firmware/homescreen.rs
  core/embed/rust/src/ui/layout_eckhart/flow/confirm_value_intro.rs
  core/embed/rust/src/ui/layout_eckhart/theme/firmware.rs
  tests/click_tests/test_lock.py
Labels: T3W1

#5176 test(core): don't call `clear_gc_info()` when PYOPT=1
  core/src/trezor/utils.py
Labels: core

#5172 feat(core): move backup_ram driver to secmon
  core/embed/projects/kernel/main.c
  core/embed/projects/secmon/main.c
  core/embed/sys/backup_ram/backup_ram.c
  core/embed/sys/smcall/stm32/smcall_dispatch.c
  core/embed/sys/smcall/stm32/smcall_numbers.h
  core/embed/sys/smcall/stm32/smcall_stubs.c
  core/embed/sys/smcall/stm32/smcall_verifiers.c
  core/embed/sys/smcall/stm32/smcall_verifiers.h
  core/embed/sys/trustzone/stm32u5/trustzone.c
Labels: T3W1

#5190 fix(core): remove unnecessary non-secure variant of irq_lock/unlock
  core/embed/sys/irq/inc/sys/irq.h
  core/embed/sys/power_save/stm32u5/power_save.c
Labels: T3W1

#5186 chore(core/eckhart): extend pin/pp touch area
  core/embed/rust/src/ui/layout_eckhart/firmware/keyboard/passphrase.rs
  core/embed/rust/src/ui/layout_eckhart/firmware/keyboard/pin.rs
Labels: T3W1

#5201 fix(core): correct a small typo in `screen_update()`
  core/embed/rust/src/ui/layout_bolt/mod.rs
  core/embed/rust/src/ui/layout_eckhart/mod.rs
Labels: core

#5207 test(core): fix master diff URLs
  .github/workflows/core.yml
Labels: tests

#5214 fix(core): re-add logging level filtering
  core/src/trezor/log.py
Labels: core

#5192 refactor(core): wrap coverage data map with `spin::RwLock`
  core/embed/rust/src/coverage/mod.rs
Labels: core, rust

#5224 chore(core): use `ERROR_NOT_IMPLEMENTED` in Eckhart's `ui_firmware.rs`
  core/embed/rust/src/ui/layout_eckhart/ui_firmware.rs
Labels: core, code

#5179 test(core): allow replacing GC leak error by warning via CLI flag
  docs/tests/device-tests.md
  python/src/trezorlib/debuglink.py
  tests/conftest.py
Labels: tests

#5216 feat(core): wake up from suspend mode after timeout
  core/SConscript.bootloader
  core/SConscript.kernel
  core/SConscript.prodtest
  core/embed/projects/bootloader/main.c
  core/embed/projects/kernel/main.c
  core/embed/projects/prodtest/main.c
  core/embed/sys/power_manager/inc/sys/power_manager.h
  core/embed/sys/power_manager/stm32u5/power_control.c
  core/embed/sys/power_manager/stm32u5/power_manager.c
  core/embed/sys/power_manager/stm32u5/power_manager_internal.h
  core/embed/sys/time/inc/sys/rtc.h
  core/embed/sys/time/stm32u5/rtc.c
  core/site_scons/models/T3W1/trezor_t3w1_revA.py
  core/site_scons/models/T3W1/trezor_t3w1_revB.py
  core/site_scons/models/T3W1/trezor_t3w1_revC.py
  core/site_scons/models/stm32u5_common.py
Labels: T3W1

#5231 fix(core): fix RSOD handling in secmon
  core/embed/sys/startup/inc/sys/sysutils.h
  core/embed/sys/task/stm32/system.c
Labels: T3W1

#5248 build(core): fix T2B1 build
  core/embed/sec/secret/stm32f4/secret.c
Labels: core, ci, T2B1

#5272 chore(core): remove unneeded `debug.read_layout()`
  tests/input_flows.py
Labels: tests
