Repository trezor/trezor-firmware, pull requests merged in 2025-02, with the labels that each got.

#4569 docs(core): update `index.md`
  docs/core/index.md
Labels: docs

#4578 test(core): increase test timeout for HW devices
  tests/device_tests/bitcoin/test_authorize_coinjoin.py
Labels: hardware only, tests

#4568 test(core): don't fetch full `DebugLinkState` by default
  common/protob/messages-debug.proto
  core/Makefile
  core/src/apps/debug/__init__.py
  core/src/trezor/messages.py
  python/src/trezorlib/debuglink.py
  python/src/trezorlib/messages.py
  rust/trezor-client/src/protos/generated/messages_debug.rs
  tests/click_tests/common.py
  tests/click_tests/recovery.py
  tests/click_tests/reset.py
  tests/click_tests/test_autolock.py
  tests/click_tests/test_lock.py
  tests/click_tests/test_pin.py
  tests/click_tests/test_tutorial_caesar.py
  tests/click_tests/test_tutorial_delizia.py
  tests/common.py
  tests/conftest.py
  tests/input_flows.py
  tests/input_flows_helpers.py
  tests/ui_tests/__init__.py
  tests/ui_tests/reporting/testreport.py
  tests/upgrade_tests/recovery_old.py
Labels: core, ci, tests, python

#4591 fix(core): fix italian copy for word quiz
  core/translations/it.json
  core/translations/signatures.json
Labels: core, translations

#4599 test(core): use `TESTOPTS` in `core-hw.yml` run step
  .github/workflows/core-hw.yml
Labels: hardware only, ci, tests

#4604 ci(core): collect debug logs also from `multicore` tests
  .github/actions/ui-report/action.yml
  .github/workflows/core.yml
  tests/conftest.py
  tests/emulators.py
Labels: ci, emulator only

#4605 ci(core): add a missing `BITCOIN_ONLY` definition to `core-hw.yml`
  .github/workflows/core-hw.yml
Labels: core, ci

#4597 Remove C font generation
  core/tools/codegen/gen_font.py
Labels: core

#4606 refactor(core): simplify `fade_backlight_duration`
  core/embed/rust/src/ui/display/mod.rs
Labels: core

#4612 refactor(core): separate `clear_unused_stack()` from `sys/linker` module
  core/embed/sys/linker/inc/sys/linker_utils.h
  core/embed/sys/linker/linker_utils.c
  core/embed/sys/stack/inc/sys/stack_utils.h
  core/embed/sys/stack/stm32/stack_utils.c
  core/embed/sys/startup/stm32/bootutils.c
  core/embed/sys/startup/stm32f4/startup_init.c
  core/embed/sys/startup/stm32u5/startup_init.c
  core/embed/sys/task/stm32/system.c
  core/site_scons/models/stm32f4_common.py
  core/site_scons/models/stm32u5_common.py
Labels: code

#4598 fix(core): correct loader completion detection
  core/embed/rust/src/ui/layout_bolt/component/loader.rs
  core/embed/rust/src/ui/layout_caesar/component/loader.rs
  core/embed/rust/src/ui/layout_delizia/component/loader.rs
Labels: core, emulator only, tests

#4644 feat(core): allow more paragraphs in `ShowInfoParams`
  core/embed/rust/src/ui/layout_delizia/flow/util.rs
Labels: core

#4642 refactor(core): remove unused delizia component
  core/embed/rust/src/ui/layout_delizia/component/mod.rs
  core/embed/rust/src/ui/layout_delizia/component/scroll.rs
Labels: core, code, T3T1

#4640 Add ability to cancel recovery on word count selector
  core/.changelog.d/3503.added
  core/embed/rust/src/ui/api/firmware_micropython.rs
  core/embed/rust/src/ui/layout_bolt/component/keyboard/word_count.rs
  core/embed/rust/src/ui/layout_bolt/component/mod.rs
  core/embed/rust/src/ui/layout_bolt/component_msg_obj.rs
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_caesar/bootloader/menu.rs
  core/embed/rust/src/ui/layout_caesar/component/input_methods/choice.rs
  core/embed/rust/src/ui/layout_caesar/component/input_methods/number_input.rs
  core/embed/rust/src/ui/layout_caesar/component/input_methods/passphrase.rs
  core/embed/rust/src/ui/layout_caesar/component/input_methods/pin.rs
  core/embed/rust/src/ui/layout_caesar/component/input_methods/simple_choice.rs
  core/embed/rust/src/ui/layout_caesar/component/input_methods/wordlist.rs
  core/embed/rust/src/ui/layout_caesar/component/mod.rs
  core/embed/rust/src/ui/layout_caesar/component_msg_obj.rs
  core/embed/rust/src/ui/layout_caesar/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/component/keyboard/word_count.rs
  core/embed/rust/src/ui/layout_delizia/component/mod.rs
  core/embed/rust/src/ui/layout_delizia/component_msg_obj.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  core/mocks/generated/trezorui_api.pyi
  core/src/apps/management/recovery_device/homescreen.py
  tests/click_tests/recovery.py
  tests/click_tests/test_recovery.py
  tests/click_tests/test_repeated_backup.py
  tests/device_tests/reset_recovery/test_recovery_slip39_basic.py
  tests/input_flows.py
  tests/input_flows_helpers.py
  tests/ui_tests/fixtures.json
  tests/upgrade_tests/recovery_old.py
  tests/upgrade_tests/test_firmware_upgrades.py
Labels: core, translations

#4601 Friendlier way to confirm long messages
  common/tests/fixtures/ethereum/signmessage.json
  common/tests/fixtures/ethereum/verifymessage.json
  core/.changelog.d/4541.added
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/translations/generated/translated_string.rs
  core/embed/rust/src/ui/api/firmware_micropython.rs
  core/embed/rust/src/ui/layout_bolt/component/button.rs
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_caesar/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/flow/confirm_action.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  core/embed/rust/src/ui/ui_firmware.rs
  core/mocks/generated/trezorui_api.pyi
  core/mocks/trezortranslate_keys.pyi
  core/src/trezor/ui/layouts/bolt/__init__.py
  core/src/trezor/ui/layouts/caesar/__init__.py
  core/src/trezor/ui/layouts/delizia/__init__.py
  core/translations/cs.json
  core/translations/de.json
  core/translations/en.json
  core/translations/es.json
  core/translations/fr.json
  core/translations/it.json
  core/translations/order.json
  core/translations/pt.json
  core/translations/signatures.json
  core/translations/tr.json
  tests/device_tests/bitcoin/test_signmessage.py
  tests/device_tests/bitcoin/test_verifymessage.py
  tests/device_tests/ethereum/test_sign_verify_message.py
  tests/input_flows.py
  tests/ui_tests/fixtures.json
Labels: translations

#4684 fix(core): confirm only visible Solana staking instructions
  core/src/apps/solana/predefined_transaction.py
  tests/ui_tests/fixtures.json
Labels: core, translations

#4658 Remove unused function mnemonic_generate()
  core/embed/upymod/modtrezorcrypto/modtrezorcrypto-bip39.h
  core/mocks/generated/trezorcrypto/bip39.pyi
  crypto/bip39.c
  crypto/bip39.h
Labels: crypto, code

#4696 fix(core): use `SwipeFlow::add_page` to save stack memory
  core/embed/rust/src/ui/flow/swipe.rs
  core/embed/rust/src/ui/layout_delizia/flow/confirm_output.rs
Labels: core

#4695 fix(core): use `SwipeFlow::add_page` to save stack memory
  core/embed/rust/src/ui/flow/swipe.rs
  core/embed/rust/src/ui/layout_delizia/flow/confirm_output.rs
Labels: core

#4691 Fix Eckhart unit tests
  core/embed/rust/src/ui/layout_eckhart/component/hint.rs
  core/embed/rust/src/ui/layout_eckhart/component/keyboard/keypad.rs
Labels: low hanging fruit, T3W1
