Repository trezor/trezor-firmware, pull requests merged in 2025-05, with the labels that each got.

#4959 fixup! fix(eckhart): optimize device menu
  core/embed/rust/src/ui/layout_eckhart/firmware/device_menu_screen.rs
  core/embed/rust/src/ui/layout_eckhart/ui_firmware.rs
Labels: core, T3W1

#4989 fix(core): propagate exceptions via `unimport.__exit__`
  core/src/trezor/utils.py
Labels: core

#4988 fix(tools): use `tio --no-reconnect` instead of `--no-autoconnect`
  .github/workflows/core-hw.yml
Labels: ci

#4763 Fix Delizia request number dialog
  core/.changelog.d/4751.fixed
  core/embed/rust/src/ui/layout_delizia/component/number_input.rs
  core/embed/rust/src/ui/layout_delizia/component/number_input_slider.rs
  core/embed/rust/src/ui/layout_delizia/flow/request_number.rs
  core/embed/rust/src/ui/layout_delizia/flow/set_brightness.rs
  tests/click_tests/test_reset_slip39_basic.py
Labels: T3T1

#4998 Don't access GitHub artifacts from `cflite.yml` job
  .github/actions/run-fuzzers/action.yml
  .github/workflows/cflite.yml
Labels: ci

#5007 chore(core): use `systick_us` for `mp_hal_ticks_us`
  core/embed/projects/firmware/mphalport.c
Labels: core

#4877 LED for emulator
  core/SConscript.unix
  core/embed/io/display/inc/io/unix/sdl_display.h
  core/embed/io/display/unix/display_driver.c
  core/embed/io/rgb_led/unix/rgb_led.c
  core/site_scons/models/T3W1/emulator.py
Labels: core, emulator only, T3W1

#5002 perf(core): use lookup tables for untranslated strings
  core/embed/rust/src/translations/generated/translated_string.rs
  core/embed/rust/src/translations/generated/translated_string.rs.mako
  core/embed/rust/src/translations/translated_string.rs
Labels: core, translations

#5019 ci(core): update hardware CI tests
  .github/workflows/core-hw.yml
Labels: hardware only, ci

#4990 fix(core): use `bool` for `trezor.pin._ignore_loader_messages`
  core/src/trezor/pin.py
Labels: core

#4991 fix(core): clear `loop.this_task` before restart
  core/src/trezor/loop.py
Labels: core

#4914 perf(core): remove more local imports from Bitcoin signing flow
  core/src/apps/bitcoin/common.py
  core/src/apps/bitcoin/keychain.py
  core/src/apps/bitcoin/scripts.py
  core/src/apps/bitcoin/sign_tx/approvers.py
  core/src/apps/bitcoin/sign_tx/bitcoin.py
  core/src/apps/bitcoin/sign_tx/helpers.py
  core/src/apps/bitcoin/sign_tx/matchcheck.py
Labels: core, bitcoin

#4926 feat(core): allow excluding line numbers from bytecode
  core/Makefile
  core/SConscript.firmware
  core/SConscript.unix
  core/embed/projects/firmware/mpconfigport.h
  core/embed/projects/unix/mpconfigport.h
  core/embed/upymod/mpycross_include/mpconfigport.h
Labels: core, micropython

#5042 fix(core): handle `DebugLink.input_wait_type` when `return_empty_state` is set
  core/src/apps/debug/__init__.py
  python/src/trezorlib/debuglink.py
  tests/upgrade_tests/recovery_old.py
Labels: core, tests, translations

#5041 test(core): explicitly confirm backup success
  tests/click_tests/test_repeated_backup.py
  tests/device_tests/test_repeated_backup.py
  tests/ui_tests/fixtures.json
Labels: core, tests, translations

#5058 refactor(core): unify `menu` and `about` Eckhart screens into an enum
  core/embed/rust/src/ui/layout_eckhart/firmware/device_menu_screen.rs
Labels: core, rust, T3W1

#5053 test(core): deflake passphrase-related tests
  tests/click_tests/test_autolock.py
  tests/click_tests/test_passphrase_bolt_delizia.py
  tests/click_tests/test_passphrase_caesar.py
Labels: core, tests

#5065 refactor(core): return uPy Obj from DeviceMenu
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/ui/api/firmware_micropython.rs
  core/embed/rust/src/ui/layout/device_menu_result.rs
  core/embed/rust/src/ui/layout/mod.rs
  core/embed/rust/src/ui/layout_eckhart/component_msg_obj.rs
  core/mocks/generated/trezorui_api.pyi
  core/src/apps/homescreen/device_menu.py
Labels: core

#4882 feat(core): send address & public key response before showing `StatusScreen`
  core/.changelog.d/3666.fixed
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/ui/api/firmware_micropython.rs
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_caesar/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/component/status_screen.rs
  core/embed/rust/src/ui/layout_delizia/flow/get_address.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  core/embed/rust/src/ui/ui_firmware.rs
  core/mocks/generated/trezorui_api.pyi
  core/src/apps/bitcoin/get_address.py
  core/src/apps/bitcoin/get_public_key.py
  core/src/apps/bitcoin/keychain.py
  core/src/apps/cardano/get_address.py
  core/src/apps/cardano/get_public_key.py
  core/src/apps/cardano/seed.py
  core/src/apps/common/keychain.py
  core/src/apps/eos/get_public_key.py
  core/src/apps/ethereum/get_address.py
  core/src/apps/ethereum/get_public_key.py
  core/src/apps/ethereum/keychain.py
  core/src/apps/management/recovery_device/layout.py
  core/src/apps/management/reset_device/__init__.py
  core/src/apps/monero/get_address.py
  core/src/apps/nem/get_address.py
  core/src/apps/ripple/get_address.py
  core/src/apps/solana/get_address.py
  core/src/apps/solana/get_public_key.py
  core/src/apps/stellar/get_address.py
  core/src/apps/tezos/get_address.py
  core/src/apps/tezos/get_public_key.py
  core/src/trezor/ui/layouts/bolt/__init__.py
  core/src/trezor/ui/layouts/caesar/__init__.py
  core/src/trezor/ui/layouts/delizia/__init__.py
  core/src/trezor/wire/__init__.py
  core/src/trezor/wire/message_handler.py
  tests/ui_tests/fixtures.json
Labels: core, T3T1, translations

#5074 fix(core): fixed truncated strings in rsod on emulator
  core/embed/sys/task/unix/system.c
Labels: emulator only

#5071 Implement show_danger on Caesar
  core/.changelog.d/5045.changed
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/translations/generated/translated_string.rs
  core/embed/rust/src/ui/layout_caesar/ui_firmware.rs
  core/mocks/trezortranslate_keys.pyi
  core/src/trezor/ui/layouts/bolt/__init__.py
  core/src/trezor/ui/layouts/caesar/__init__.py
  core/src/trezor/ui/layouts/delizia/__init__.py
  core/translations/cs.json
  core/translations/de.json
  core/translations/en.json
  core/translations/es.json
  core/translations/fr.json
  core/translations/it.json
  core/translations/pt.json
  core/translations/signatures.json
  tests/ui_tests/fixtures.json
Labels: T2B1, translations, T3B1

#5101 fix(core/delizia): incorrect shares number input
  core/.changelog.d/5099.fixed
  core/embed/rust/src/ui/layout_delizia/component/number_input.rs
Labels: T3T1

#5100 fix(core): fix `DeprecationWarning` for `datetime.datetime.utcnow()`
  core/translations/cli.py
Labels: core, python

#5110 fix(core): fix firmware build with `DISABLE_OPTIGA=1`
  core/embed/sec/secret/inc/sec/secret.h
  core/embed/sec/secret/stm32f4/secret.c
  core/embed/sec/secret/stm32u5/secret.c
  core/embed/sec/secret/unix/secret.c
  core/embed/sys/mpu/stm32f4/mpu.c
  core/embed/upymod/modtrezorutils/modtrezorutils.c
Labels: core, hardware only
