Repository trezor/trezor-firmware, pull requests merged in 2025-07, with the labels that each got.

#5300 Update python docs - OPTIONS.rst
  python/docs/OPTIONS.rst
Labels: trezorlib

#5279 chore(core): remove `Cargo.lock` generated by `rust-analyzer`
  core/embed/rust/.gitignore
  core/embed/rust/target/rust-analyzer/metadata/sysroot/Cargo.lock
  core/embed/rust/target/rust-analyzer/metadata/workspace/Cargo.lock
Labels: code, rust

#5331 test(core): fix waiting for recovery
  tests/click_tests/recovery.py
Labels: core, tests

#5347 adjust screen color according to charging state in prodtest
  core/embed/rust/src/ui/layout_eckhart/prodtest/welcome.rs
Labels: T3W1

#5343 Eckhart UI: remove unused button code
  core/embed/rust/src/ui/layout_eckhart/component/button.rs
  core/embed/rust/src/ui/layout_eckhart/theme/bootloader.rs
  core/embed/rust/src/ui/layout_eckhart/theme/firmware.rs
  core/embed/rust/src/ui/layout_eckhart/theme/mod.rs
Labels: code, T3W1

#5346 fix(core): add missing `PropertyType` element for Solana confirmation
  core/.changelog.d/5308.fixed
  core/src/apps/solana/layout.py
Labels: core, altcoin, T2B1, translations, T3B1

#5381 ci(core): skip UI comment job on external PRs
  .github/workflows/core.yml
Labels: ci

#5378 fix(core): fix MPU configuration
  core/.changelog.d/5378.fixed
  core/embed/sys/mpu/stm32u5/mpu.c
Labels: T3W1, T3T1, T3B1

#5393 power managere simple temperature controller
  core/embed/sys/power_manager/stm32u5/power_manager.c
  core/embed/sys/power_manager/stm32u5/power_manager_internal.h
  core/embed/sys/power_manager/stm32u5/power_monitoring.c
Labels: T3W1

#5399 fix parameter parsing in pm-set-soc-target command.
  core/embed/projects/prodtest/cmd/prodtest_power_manager.c
Labels: T3W1

#5397 Add translation json style check
  Makefile
  core/tools/translations/sort_keys.py
  core/translations/cs.json
  core/translations/de.json
  core/translations/en.json
  core/translations/es.json
  core/translations/fr.json
  core/translations/it.json
  core/translations/pt.json
Labels: core

#5423 test(core): remove extra input flow confirmations in Eckhart
  tests/input_flows.py
Labels: tests, T3W1

#5428 ci(core): print less test durations
  .github/workflows/core.yml
Labels: core

#5427 test(core): add missing script to main diff report
  tests/ui_tests/reporting/common.py
Labels: ci, tests

#5410 Eckhart UI: use large QR code in bld wireless setup
  core/embed/rust/src/ui/layout_eckhart/theme/bootloader.rs
Labels: blocked, T3W1

#5445 fix prodtest bootloader-update command (T3W1)
  core/embed/models/D002/memory.h
  core/embed/models/D002/memory.ld
  core/embed/models/D002/memory_secmon.h
  core/embed/models/D002/memory_secmon.ld
  core/embed/models/T3W1/memory.h
  core/embed/models/T3W1/memory.ld
  core/embed/models/T3W1/memory_secmon.h
  core/embed/models/T3W1/memory_secmon.ld
  core/embed/projects/prodtest/cmd/prodtest_bootloader.c
  core/embed/sys/mpu/inc/sys/mpu.h
  core/embed/sys/mpu/stm32f4/mpu.c
  core/embed/sys/mpu/stm32u5/mpu.c
  core/embed/util/flash/inc/util/flash_layout.h
  core/embed/util/flash/stm32u5/flash_layout.c
  core/embed/util/image/boot_image.c
  core/tools/bld_update.py
Labels: T3W1
