Repository trezor/trezor-firmware, pull requests merged in 2025-01, with the labels that each got.

#4468 Randomize SCM_REVISION address in firmware
  core/Makefile
  core/SConscript.boardloader
  core/SConscript.bootloader
  core/SConscript.bootloader_ci
  core/SConscript.bootloader_emu
  core/SConscript.firmware
  core/SConscript.kernel
  core/SConscript.prodtest
  core/SConscript.reflash
  core/SConscript.unix
  core/embed/upymod/modtrezorutils/modtrezorutils.c
  core/embed/util/rsod/rsod.c
  core/embed/util/scm_revision/inc/util/scm_revision.h
  core/embed/util/scm_revision/scm_revision.c
Labels: core, R&D

#4480 fix(legacy): show XPUB using a QR code
  legacy/firmware/.changelog.d/3043.fixed
  legacy/firmware/fsm_msg_coin.h
  legacy/firmware/layout2.c
  legacy/firmware/layout2.h
  tests/device_tests/bitcoin/test_getpublickey.py
  tests/ui_tests/fixtures.json
Labels: T1B1 legacy, bug, low hanging fruit

#4483 fix(core): rework 'too many PIN attempts' RSOD
  core/.changelog.d/3324.fixed
  core/embed/rtl/error_handling.c
  core/embed/rust/src/ui/layout_samson/component/error.rs
Labels: core, T2B1, T3B1

#4503 Allow splitting/merging translations for Crowdin
  core/translations/crowdin.py
  core/translations/crowdin/.gitignore
Labels: translations

#4523 Fix displayed batch number in prodtest
  core/embed/projects/prodtest/main.c
Labels: core

#4540 fix(core): explicitly delete keyboard layout
  core/.changelog.d/4537.fixed
  core/src/trezor/ui/layouts/bolt/recovery.py
  core/src/trezor/ui/layouts/caesar/recovery.py
  core/src/trezor/ui/layouts/delizia/recovery.py
Labels: bug, hardware only, T2T1

#4543 feat(python): check that translations are using correct layout names
  core/translations/cli.py
  core/translations/crowdin.py
  python/src/trezorlib/_internal/translations.py
Labels: translations

#4550 fix(legacy): fix a minor typo in a warning message
  legacy/firmware/fsm.c
  tests/ui_tests/fixtures.json
Labels: T1B1 legacy

#4558 chore: update translated UI fixtures
  tests/ui_tests/fixtures.json
Labels: translations

#4557 ci: fix `JSONDecodeError` when combining `.coverage.gw*` files
  .github/actions/upload-coverage/action.yml
Labels: translations

#4555 build(core): export Rust functions' stack sizes
  core/SConscript.firmware
Labels: core, rust
