Repository trezor/trezor-firmware, pull requests merged in 2025-10, with the labels that each got.

#5935 [Eckhart] Device menu code tests
  core/translations/es.json
  core/translations/signatures.json
  tests/click_tests/device_menu/common.py
  tests/click_tests/device_menu/test_auto_lock.py
  tests/click_tests/device_menu/test_check_backup.py
  tests/click_tests/device_menu/test_label.py
  tests/click_tests/device_menu/test_notifications.py
  tests/click_tests/device_menu/test_pin.py
  tests/click_tests/device_menu/test_wipe.py
  tests/click_tests/device_menu/test_wipe_code.py
  tests/click_tests/device_menu/test_wipe_device.py
  tests/click_tests/test_pin.py
Labels: T3W1, translations

#5956 chore: pull some Crowdin translations
  core/translations/cs.json
  core/translations/de.json
  core/translations/es.json
  core/translations/fr.json
  core/translations/it.json
  core/translations/pt.json
  core/translations/signatures.json
Labels: translations

#5959 Add compile time switch to disable power manager thermal control
  core/embed/sys/power_manager/stm32u5/power_manager.c
  core/embed/sys/power_manager/stm32u5/power_manager_internal.h
  core/embed/sys/power_manager/stm32u5/power_monitoring.c
Labels: T3W1

#5914 Cleanup translated strings per layout
  core/embed/rust/src/translations/generated/translated_string.rs
  core/translations/cs.json
  core/translations/de.json
  core/translations/en.json
  core/translations/es.json
  core/translations/fr.json
  core/translations/it.json
  core/translations/pt.json
  core/translations/signatures.json
Labels: translations
