Repository trezor/trezor-firmware, changes with the owners that CODEOWNERS names for each.
All owners: @obrusvit, @vdovhanych, @mmilata, @matejcik, @TychoVrahe, @onvej-sl, @andrewkozlik, @prusnak, @romanz

CODEOWNERS:

# overall ownership is for the apps team
* @obrusvit

# CI and build system
/.github/ @vdovhanych @mmilata
/ci/ @vdovhanych @mmilata

# Protobuf definitions
/common/protob/ @obrusvit @matejcik

# core/embed belongs to embedded team
/core/embed/ @TychoVrahe

# ...except Rust, which belongs to apps team
/core/embed/rust/ @obrusvit @matejcik
/core/embed/rust/src/ui/ @obrusvit
/core/embed/rust/src/smp/ @TychoVrahe

# special case apps
/core/src/apps/monero/ @onvej-sl
/core/src/apps/webauthn/ @andrewkozlik

# trezor-crypto
/crypto/ @andrewkozlik @onvej-sl
/crypto/gui/ @prusnak
/crypto/monero/ @onvej-sl
/crypto/tools/ @prusnak

# T1 legacy codebase
/legacy/ @prusnak @romanz

# Nordic submodule belongs to embedded team
/nordic/ @TychoVrahe

# python-trezor and tools
/python/ @matejcik @romanz

# storage
/storage/ @andrewkozlik @TychoVrahe

# tests main codeowner
/tests/ @obrusvit

# tools generally belong to apps team
/tools/ @obrusvit

fixup! fix(core/boardloader): preserve boot command when resetting in boardloader
  core/embed/sec/secret/stm32u5/secret.c
  core/embed/sys/startup/inc/sys/bootutils.h
  core/embed/sys/startup/stm32/bootutils.c
Owners: @TychoVrahe

fixup! chore(core): add missing parameter to set_brightness function
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  core/embed/rust/src/ui/layout_eckhart/ui_firmware.rs
  tests/device_tests/test_msg_applysettings.py
Owners: @obrusvit

fixup! chore(core): add missing parameter to set_brightness function
  tests/device_tests/test_msg_applysettings.py
Owners: @obrusvit

chore(core): add missing parameter to set_brightness function
  core/.changelog.d/4410.fixed
  core/embed/rust/src/ui/layout_bolt/component/set_brightness.rs
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/flow/set_brightness.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  core/embed/rust/src/ui/layout_eckhart/firmware/brightness_screen.rs
  core/embed/rust/src/ui/layout_eckhart/ui_firmware.rs
  core/src/apps/management/set_brightness.py
  tests/device_tests/test_msg_applysettings.py
  tests/input_flows.py
Owners: @obrusvit

fixup! fix(core/delizia): inconsistent brightness in set_brightness flow
  core/src/trezor/ui/layouts/delizia/__init__.py
Owners: @obrusvit

fixup! chore(core): add missing parameter to set_brightness function
  tests/input_flows.py
Owners: @obrusvit

fixup! chore(core): add missing parameter to set_brightness function
  tests/device_tests/test_msg_applysettings.py
Owners: @obrusvit

fixup! chore(core): add missing parameter to set_brightness function
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  core/embed/rust/src/ui/layout_eckhart/ui_firmware.rs
Owners: @obrusvit

fixup! chore(core): add missing parameter to set_brightness function
  core/embed/rust/src/ui/layout_bolt/ui_firmware.rs
  core/embed/rust/src/ui/layout_delizia/ui_firmware.rs
  core/embed/rust/src/ui/layout_eckhart/ui_firmware.rs
Owners: @obrusvit

fixup! chore(core): add missing parameter to set_brightness function
  core/embed/rust/src/ui/layout_bolt/component/set_brightness.rs
  core/embed/rust/src/ui/layout_delizia/flow/set_brightness.rs
Owners: @obrusvit

fix(core/delizia): inconsistent brightness in set_brightness flow
  core/embed/rust/src/ui/layout_delizia/flow/set_brightness.rs
  core/src/trezor/ui/layouts/delizia/__init__.py
Owners: @obrusvit

fixup! fix(core/delizia): inconsistent brightness in set_brightness flow
  tests/input_flows.py
Owners: @obrusvit

fixup! chore(core): add missing parameter to set_brightness function
  tests/device_tests/test_msg_applysettings.py
Owners: @obrusvit

fixup! chore(core): add missing parameter to set_brightness function
  core/src/trezor/ui/layouts/delizia/__init__.py
Owners: @obrusvit

fixup! fixup! feat(core/eckhart): add tutorial
  tests/click_tests/test_tutorial_eckhart.py
Owners: @obrusvit

fixup! chore(core): update vendorheader files and generate changed vendorheaders
  core/embed/models/T3B1/vendorheader/vendor_prodtest.json
  core/embed/models/T3B1/vendorheader/vendorheader_prodtest_unsigned.bin
  core/embed/models/T3T1/vendorheader/vendor_prodtest.json
  core/embed/models/T3T1/vendorheader/vendorheader_prodtest_unsigned.bin
Owners: @TychoVrahe

fixup! feat(core): verify secmon signature in bootloader
  core/embed/util/image/inc/util/image.h
Owners: @TychoVrahe

fixup! feat(core): add secmon header
  core/embed/projects/prodtest/secmon_header.S
  core/embed/projects/secmon/header.S
  python/src/trezorlib/firmware/secmon.py
Owners: @TychoVrahe, @matejcik, @romanz

refactor(core): improved Stellar transaction signing interface for a more streamlined user experience.
  common/tests/fixtures/stellar/sign_tx.json
  core/.changelog.d/5148.changed
  core/embed/rust/librust_qstr.h
  core/embed/rust/src/translations/generated/translated_string.rs
  core/mocks/trezortranslate_keys.pyi
  core/src/apps/stellar/get_address.py
  core/src/apps/stellar/layout.py
  core/src/apps/stellar/operations/__init__.py
  core/src/apps/stellar/operations/layout.py
  core/src/apps/stellar/sign_tx.py
  core/src/trezor/ui/layouts/bolt/__init__.py
  core/src/trezor/ui/layouts/caesar/__init__.py
  core/src/trezor/ui/layouts/delizia/__init__.py
  core/src/trezor/ui/layouts/eckhart/__init__.py
  core/translations/en.json
  core/translations/order.json
  core/translations/signatures.json
Owners: @obrusvit, @matejcik

fixup! refactor(core): improved Stellar transaction signing interface for a more streamlined user experience.
  core/src/trezor/ui/layouts/caesar/__init__.py
  core/src/trezor/ui/layouts/delizia/__init__.py
Owners: @obrusvit

fixup! fixup! fix(core/boardloader): preserve boot command when resetting in boardloader
  core/embed/sec/secret/stm32u5/secret.c
Owners: @TychoVrahe

wip: message type enums separation bug
  core/src/apps/debug/__init__.py
  core/src/apps/thp/pairing.py
  core/src/trezor/wire/codec/codec_context.py
  core/src/trezor/wire/message_handler.py
  core/src/trezor/wire/protocol_common.py
  core/src/trezor/wire/thp/pairing_context.py
  core/src/trezor/wire/thp/session_context.py
Owners: @obrusvit

fixup! feat(python): change trezorlib to session-based
  python/src/trezorlib/cli/__init__.py
  python/src/trezorlib/debuglink.py
Owners: @matejcik, @romanz

fixup! test(python): adjust tests to session-based trezorlib
  python/src/trezorlib/debuglink.py
  tests/click_tests/reset.py
  tests/click_tests/test_autolock.py
  tests/click_tests/test_backup_slip39_custom.py
  tests/click_tests/test_lock.py
  tests/click_tests/test_passphrase_bde.py
  tests/click_tests/test_pin.py
  tests/click_tests/test_recovery.py
  tests/click_tests/test_reset_slip39_basic.py
  tests/device_handler.py
Owners: @matejcik, @romanz, @obrusvit
